.card-game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 160px;
  background-color: var(--color--interrogation);
  border: 4px solid var(--color--floral-white);
}

.interrogation {
  width: 130px;
  height: 100px;
}
